tensorflow==2.19.0
tf-keras==2.19.0
sentence-transformers==2.2.2
transformers==4.30.2
huggingface_hub==0.14.1
numpy==1.26.4
pandas==2.3.0
matplotlib==3.7.1
kiwisolver==1.4.4
scikit-learn==1.3.0
pmdarima==2.0.4
jaconv==0.4.0
rapidfuzz==3.13.0
flask==2.3.3
yfinance==0.2.63
scipy==1.10.1
cffi
